[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/ftl-vim-syntax"]
	path = .vim/bundle/ftl-vim-syntax
	url = https://github.com/natew/ftl-vim-syntax.git
[submodule "powerline-bash"]
	path = powerline-bash
	url = https://github.com/milkbikis/powerline-bash
[submodule ".vim/colors/monokai"]
	path = .vim/colors/monokai
	url = https://github.com/rickharris/vim-monokai.git
[submodule ".vim/colors/molokai"]
	path = .vim/colors/molokai
	url = https://github.com/tomasr/molokai.git
